* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}



.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;

}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;

}

.heading {
    width: 30px;
}

.library {
    min-height: 75vh;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    padding: 10px;

}

.footer a {
    color: grey;

}

.right {
    margin: 16px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);

}

.header>* {
    padding: 20px;

}

.spotifyplaylists {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;

}

.card {
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;


}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
}

.play {
    position: absolute;
    top: 205px;
    right: 17px;
    opacity: 1;
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;

}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;

}

.signupbtn:hover {
    font-size: 1.01rem;
    color: rgb(193, 183, 183);
}

.loginbtn {
    background-color: white;
    border-radius: 17px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    width: 83px;
    font-size: 17px;

}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: rgb(70, 118, 70);
    width: 100%;
    padding: 12px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* css for styling the playlist */
.mainUlForplaylist>li {
    list-style-type: none;
    background-color: rgb(39, 37, 37);
    margin: 5px 0px;
    padding: 5px;
    text-indent: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.mainUlForplaylist>li:hover {
    background-color: rgb(32, 31, 31);
}

.mainUlForplaylist>li img {
    width: 25px;
    /* Adjust size as needed */
    height: 25px;
    /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 15px;
    /* Space between image and text */
}

#pauseBtn {
    width: 25px;
    height: 25px;
}